p, h5, h1, h2, h3, h4{
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.widget-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px
}

.widget-wrapper{
    display: flex;
    flex-direction: row;
    width:100%
    
    /* height: 110px; */
}
.test{width:100%}
.wrap{
    flex-wrap: wrap;        
}

.reason-buttons{
    height: calc(100vh - 200px);
}

.widget{
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin-right:5px
}
.widget:hover{
    background-color: rgb(228, 228, 228);
}
.widget-selected{
    background-color: rgb(228, 228, 228);
    
}

.widget-data{
    padding: 5px 10px;
}



.outer-widget{
    width: 90px;
    height:90px;
    margin-right: 5px;
}

.inner-widget{
    width: 50px;
    height:50px;
}

.dt p{
   font-size: 0.6rem; 
}

.green{
    background-color: green;
}
.green p {
    color: black;
}
.amber{
    background-color: orange;
}
.amber p {
    color: black;
}
.red{
    background-color: red;
}
.red p {
    color: black;
}
.white{
    background-color: azure;
}



.downtime-wrapper{
    width:150px;
    height:90px;
}

.dt{
    height: 30px;
    text-align: center;
}

.diversion-reason{
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
    border: solid 2px black;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
  justify-content: center;
  flex-direction: column;
}
.diversion-reason:hover{
    background-color: rgb(228, 234, 247);
}